@import url(https://fonts.google.com/specimen/Outfit);

*{
    margin:0;
    padding:0;
}

body {
    background: hsl(212, 45%, 89%);
    font-family: Outfit;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
}

.background {
    max-width: 370px;
    background: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 30px;
    flex-wrap: wrap;
}

img {
    border-radius: 30px;
    width: 350px;
    height: auto;
    padding: 10px;
} 

h1 {
    padding: 10px;
    font-weight: 700;
}

p {
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
}