@import url('https://fonts.google.com/specimen/Red+Hat+Display');

body {
    font-family: 'Red Hat Display', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(../images/pattern-background-desktop.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(225, 100%, 98%);
}

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 370px;
    border-radius: 20px;
}

.container img {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 0px 35px 35px 35px;
}

.info .text {
    color: hsl(224, 23%, 55%);
    text-align: center;
    font-size: 16px;
}

.title {
    color: hsl(223, 47%, 23%);
    font-size: 24px;
    font-weight: 900;
}

.plan {
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.plan .left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.payment {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    flex-direction: column;
    
}

.proceed-button,
.cancel-button {
    border: none;
    font-size: 14px;
    padding: 15px;
    font-weight: 700;
}

.proceed-button {
    background-color: hsl(245, 75%, 52%);
    color: white;
    border-radius: 10px;
}

.cancel-button {
    color: hsl(224, 23%, 55%);
    background-color: white;
}